// Lenis
html.lenis {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }

  * a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #f6f3f3;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}
h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    color: black;
}
.link {
    color: black;
    transition: ease-in-out .5s;
    &:hover{
        color: rgba(255, 166, 0, 0.876);
        transition: ease-in-out .3s;
    }
   
}

* ul {
    list-style-type: none;
}

i:hover {
    color: rgba(255, 166, 0, 0.619);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    padding: 15px;
    border-radius: 50%;
    z-index: 99;
    background-color: orange;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: rgba(255, 166, 0, 0.833);
    }
    i {
        color: white;
    }
}
