section {
}

.horaire-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 10vw;
    i {
        padding-right: 10px;
    }
    .horaire-box-item {
        padding: 10px 30px;
        background:#49647e;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow : 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        h3 {
            color: white;
        }
        p {
            color: white;
        }
    }
}
.rdv-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    .rdv-text-box {
        padding: 80px;
        h3 {
            color: white;
        }
        p {
            color: white;
        }
    }
    .rdv-box-item {
        width: 50vw;
        height: 60vh;
        background-color: #49647e;
        img {
            width: 50vw;
            height: 60vh;
            object-position: center;
            object-fit: cover;
        }
    }
}